@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@layer base {
    *,
    ::after,
    ::before {
      @apply box-border scroll-smooth;
    } 

    body {
        @apply bg-[#1b1b25] text-white
    }
}


@layer components {
  .link {
    @apply text-dark-shade-300 text-sm font-semibold hover:text-dark-shade-100 cursor-pointer
  }

  .text-muted {
    @apply text-dark-shade-300 text-sm font-semibold
  }

  .dropdown-item {
    @apply cursor-pointer w-full
  }

  .section-intro {
    @apply bg-dark-shade-700
  }

  .brd-normal {
    @apply border border-dark-shade-500 disabled:opacity-25
  }

  .brd-dashed {
    @apply border border-dashed border-dark-shade-500
  }

  .brd-big {
    @apply border-4 border-dark-shade-800
  }

  .input-normal {
    @apply border border-dark-shade-500 bg-dark-shade-600 py-2 placeholder-dark-shade-400 px-1 text-dark-shade-300
  }

  .btn {
    @apply disabled:bg-dark-shade-500/20 disabled:text-dark-shade-200/50 disabled:pointer-events-none rounded-sm cursor-pointer transition-all duration-200 whitespace-nowrap bg-dark-shade-500 text-dark-shade-200 py-1 px-3 hover:bg-dark-shade-400
  }

  .btn-success {
    @apply disabled:bg-indicative-danger/20 disabled:text-dark-shade-200/50 disabled:pointer-events-none rounded-sm cursor-pointer transition-all duration-200 whitespace-nowrap bg-indicative-success text-white py-1 px-3 hover:bg-indicative-success/50
  }
  
  .btn-danger {
    @apply disabled:bg-indicative-danger/20 disabled:text-dark-shade-200/50 disabled:pointer-events-none rounded-sm cursor-pointer transition-all duration-200 whitespace-nowrap bg-indicative-danger text-white py-1 px-3 hover:bg-indicative-danger/50
  }

  .btn-warning {
    @apply disabled:bg-indicative-warning/20 disabled:text-dark-shade-200/50 disabled:pointer-events-none rounded-sm cursor-pointer transition-all duration-200 whitespace-nowrap bg-indicative-warning text-white py-1 px-3 hover:bg-indicative-warning/50
  }

  .btn-info {
    @apply disabled:bg-indicative-info/20 disabled:text-dark-shade-200/50 disabled:pointer-events-none rounded-sm cursor-pointer transition-all duration-200 whitespace-nowrap bg-indicative-info text-white py-1 px-3 hover:bg-indicative-info/50
  }

  .btn-small {
    @apply text-sm py-1 px-3
  }

    .hidden-input {
      @apply hidden
    }

    .button-default {
      @apply text-white;
    }

    h1 {
      @apply text-3xl font-extrabold
    }

    h2 {
      @apply text-2xl font-bold
    }

    h3 {
      @apply text-xl font-semibold
    }

    h4 {
      @apply text-lg font-medium
    }

    h5 {
      @apply text-sm font-light
    }

    h6 {
      @apply text-xs font-extralight
    }
}